<div class="row">
	{{!-- <div class="col-md-6 mx-auto"> --}}
		<div class="card card-body" style="background:#E8DCD0;">
				     <a href="/user/profile" style="color: black ;float:left; padding-left:40px; font-size:large" ><u> <i class="fa-solid fa-chevron-left"></i>Back</u></a>

			<img class="logo" src="/img/logo.png">
			<h3 class="text-center">EDIT PROFILE</h3>
			<form action="" method="post">
				<div>
					<div class="form-group left spacing1o">
						<label for="firstname">First Name</label>
						<input type="text" class="form-control" name="firstname" value="{{user.firstname}}" id="firstname" onblur="initialiseFirstname()" required>
					</div>
					<div class="form-group left spacing2o">
						<label for="lastname">Last Name</label>
						<input type="text" class="form-control" name="lastname" value="{{user.lastname}}" id="lastname" onblur="initialiseLastname()" required>
					</div>
					<div class="form-group clear left spacing1o">
						<label for="username">Username</label>
						<input type="text" class="form-control" name="username" value="{{user.username}}" required>
					</div>
					<div class="form-group left spacing2o">
						<label for="phoneno">Phone Number</label>
						<input type="tel" class="form-control" name="phoneno" value="{{user.phoneno}}" required>
					</div>
					<div class="form-group clear left spacing1o">
						<label for="address">Address</label>
						<input type="text" class="form-control" name="address" value="{{user.address}}" id="address" onblur="initialiseAddress()" required>
					</div>
					<div class="form-group left spacing2o">
						<label for="email">Email</label>
						<input type="email" name="email" class="form-control" value="{{user.email}}" required>
					</div>
					{{!-- <div class="form-group clear left spacing1o">
						<label for="password">Password</label>
						<input type="password" name="password" class="form-control" value="" required>
					</div>
					<div class="form-group left spacing2o">
						<label for="password2">Confirm Password</label>
						<input type="password" name="password2" class="form-control" value="" required>
					</div>
				</div> --}}

				<div class="centered clear">
					{{!-- <h6 style="font-weight: normal ">Have an account? <a href="/user/login"
							style="color: #8BAD97"><u>Login</u></a></h6> --}}

					<button type="submit" class="accountbtn">EDIT</button>
				</div>

			</form>
		{{!-- </div> --}}
	</div>
</div>