{{!-- <div class="container besidenav" style="padding-left:70px; width:max-content;"> --}}


	<!-- Logout Modal-->
	<div class="modal fade" id="deleteuserprofile" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Delete
						Account</h5>
					<button class="close" type="button" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">Select "Delete" below if you are
					deleting your account.</div>
				<div class="modal-footer">
					<button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
					<a class="btn btn-primary" href="/user/deleteaccount/{{id}}">Delete</a>
				</div>
			</div>
		</div>
	</div>
	

	<div>
		<div style="font-size:20px;  float: right;">
			<div>
				<a href="/user/editprofile/{{id}}" class="card-link mb-2">
					<i class="fas fa-pencil-alt"></i>
					Edit Information
				</a>
			</div>
			<hr>
			<div>
				<a href="/user/changepw/{{id}}" class="card-link mb-2">
					<i class="fa-solid fa-lock"></i>
					Change Password
				</a>
			</div>
			<hr>
			<div>
				<a href="/user/editprofile/{{id}}" data-toggle="modal" data-target="#deleteuserprofile" class="card-link"
			style="color: darkred">
					<i class="far fa-trash-alt"></i>
					Delete Account
				</a>
			</div>
		</div>

		<h4 class="card-title" style="padding-left:20px;">PROFILE</h4>


		<div class="card-body" id="mytxt">


			<div>
				First Name : <a> &emsp;&emsp;&emsp;{{firstname}} </a>

			</div>
			<hr>
			<div>
				Last Name : <a>&emsp;&emsp;&emsp;{{lastname}} </a>

			</div>
			<hr>
			<div>
				Username : <a>&emsp;&emsp;&emsp;{{username}} </a>

			</div>
			<hr>
			<div>
				Phone Number : <a>&emsp;&emsp;&emsp;{{phoneno}} </a>

			</div>
			<hr>
			<div>
				Address : <a>&emsp;&emsp;&emsp;{{address}} </a>

			</div>
			<hr>
			<div>
				Email : <a>&emsp;&emsp;&emsp;{{email}} </a>

			</div>
			<hr>
		</div>
	</div>



	<script>
		$('[data-toggle=confirmation]').confirmation({
			rootSelector: '[data-toggle=confirmation]',
		});
	</script>