<head>
    <script>
        window.onload = function () {
            var sum = 0;
            //get price of each product
            var obj = document.getElementsByClassName("price");
            var shipping = document.getElementsByClassName("shipping");
            console.log("price:" + obj)
            var arr = new Array();
            var s_arr = new Array();
            for (var i = 0; i < obj.length; i++) {
                arr[i] = parseFloat(obj[i].innerHTML)
            }
            for (var i = 0; i < shipping.length; i++) {
                s_arr[i] = parseFloat(shipping[i].innerHTML);
            }
            console.log("shipping:" + s_arr);


            //get sum of aall products
            function getSumForEach(arr) {
                arr.forEach(function (item) {
                    f_item = parseFloat(item)
                    sum += f_item;
                });
                return sum;
            }


            var sum = arr.reduce((a, b) => a + b, 0)
            var shipping_sum = s_arr.reduce((a, b) => a + b, 0)

            console.log(shipping_sum);
            var GST = parseFloat(sum) * 0.07
            var afterGST = parseFloat(sum) + parseFloat(GST.toFixed(2)) + shipping_sum;
            document.getElementById("ship").innerHTML = "SG $" + shipping_sum;
            document.getElementById("afterGST").innerHTML = "SG $" + afterGST;
            document.getElementById("gst").innerHTML = "SG $" + GST.toFixed(2);
            document.getElementById("totalamount").value = afterGST;
            document.getElementById("sum").value = sum;
        }
    </script>
</head>
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
    {{!-- Left side of website --}}
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="col-sm-6" style="float:left;">
                    <a class="btn btn-secondary" href="product/catalogue">
                        <span class="fa-solid fa-circle-arrow-left"></span> BACK </a>
                </div>
                <div class="col-sm-6" style="float:right;">
                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" style="float:right; ;">
                            <i class="fa-solid fa-arrow-up-wide-short"></i>
                            <span class="caret"></span>
                            <ul class="dropdown-menu">
                                <li><a href="#">Comprehensive</a></li>
                                <li><a href="#">Price Ascending Order</a></li>
                                <li><a href="#">Price Descending Order</a></li>
                            </ul>
                        </button>
                    </div>
                </div>
                <br><br>
                <hr size="12px" width="100%">
                <br><br>
                <div class="container" style="text-align: center;">
                    <div class="row">
                        <p class="font-italic col-sm-3 col-md-3 col-lg-3">Name</p>
                        <p class="font-italic col-sm-3 col-md-3 col-lg-3">Quantity</p>
                        <p class="font-italic col-sm-3 col-md-3 col-lg-3">Price</p>
                        <p class="font-italic col-sm-3 col-md-3 col-lg-3">Action</p>
                    </div>
                </div>
                {{#if cartItem}}
                {{#each cartItem}}
                <div class="container" style="text-align: center;">
                    <div class="row">
                        <p class="text-muted col-sm-3 col-md-3 col-lg-3">{{product}}</p>
                        <div class=" row col-sm-3 col-md-3 col-lg-3">
                            <form action="" method="POST">
                                <button id="btnSubmit" type="submit" class="btn">-</button>
                                <input type="hidden" name="minus" value="minus">
                                <input type="hidden" name="item_id" value="{{id}}">
                                <input type="hidden" name="amount" value="{{amount}}">
                                <input type="hidden" name="totalprice" value="{{totalprice}}">
                                <input type="hidden" name="price" value="{{price}}">
                                <input type="hidden" name="weight" value="{{weight}}">
                                <input type="hidden" name="m_weight" value="{{m_weight}}">
                            </form>
                            <form action="" method="POST">
                                <p class="amount text-muted">{{amount}}</p>
                            </form>
                            <form action="" method="POST">
                                <button id="btnSubmit" type="submit" class="btn">+</button>
                                <input type="hidden" name="plus" value="plus">
                                <input type="hidden" name="item_id" value="{{id}}">
                                <input type="hidden" name="amount" value="{{amount}}">
                                <input type="hidden" name="totalprice" value="{{totalprice}}">
                                <input type="hidden" name="price" value="{{price}}">
                                <input type="hidden" name="weight" value="{{weight}}">
                                <input type="hidden" name="m_weight" value="{{m_weight}}">
                            </form>
                        </div>
                        <p class="text-muted col-sm-3 col-md-3 col-lg-3">
                            SG $ <span class="price text-muted">{{totalprice}}</span>
                            | S: <span class="shipping text-muted">{{weight}}</span>
                        </p>
                        <div class=" row col-sm-3 col-md-3 col-lg-3">
                            <form action="" method="POST" class=" col-sm-12 col-md-12 col-lg-12">

                                <button id="btnSubmit" type="submit" class="btn">
                                    <i class="fa-solid fa-delete-left"></i>Delete
                                </button>
                                <input type="hidden" name="deleteitem" value="deleteitem">
                                <input type="hidden" name="item_id" value="{{id}}">
                            </form>
                        </div>
                    </div>
                </div>
                {{/each}}
                <p class=" text-muted text-center">"S" means the Shipping Fee of this product(s)</p>
                {{else}}
                <div class="col-sm-12 col-md-12 col-lg-12" style="text-align: center;">
                    <h4>There is nothing in your
                        Shopping Cart yet? <br> Get some bah <i class="fa-solid fa-face-grin-squint-tears"></i></h4>
                </div>
                {{/if}}

                {{!-- Right side of website --}}
            </div>
            <div class="col-sm-6">
                <h5><b>Summary</b></h5>
                <hr size="12px" width="100%">
                {{#each cartItem}}
                <div class="row">
                    <p class="col-sm-3" style="float: left;">{{product}}</p>
                    <p class="col-sm-3" style="float: right;" id="item_price">SG ${{totalprice}}</p>
                </div>
                {{/each}}
                <hr size="12px" width="100%">
                <div class="row">
                    <h5 class="col-sm-3" style="float: left;"><b>Shipping</b></h5>
                   <p class="col-sm-3" style="float: right;" id="ship"></p>
                </div>
                <hr size="12px" width="100%">
                <div class="row">
                    <h5 class="col-sm-3" style="float: left;"><b>GST</b></h5>
                    <p class="col-sm-3" style="float: right;" id="gst"></p>
                </div>
                <hr size="12px" width="100%">
                
                <label for="code"><b>Voucher: </b></label>
                {{!-- <form action="#" style="display: inline;"> --}}
                <form method="POST" action="#">
                    <div class="form-group">
                        <input type="text" class="form-control col-sm-9" id="promo_code" name="code" value="{{code}}"
                            placeholder="Enter Your Voucher Code Here..." style="float: left; width: 450px;">
                        <button type="submit" class="btn btn-secondary col-sm-3" style="float: right ;" id="apply">Apply</button>
                        <input type="hidden" name="apply" value="apply">

                    </div>
                </form>
                <hr size="12px" width="100%">
                <br>
                <div class="row">
                    <h4 class="col-sm-9" style="float: left;"><b>Total Cost: </b></h4>
                    <p class="col-sm-3" style="float: right;" id="afterGST">
                    <h5></h5>
                    </p>
                </div>
                <hr size="12px" width="100%">
                <br>
                <label for="email"><b>Address: </b></label>
                <form action="#" style="display: inline;" method="POST">
                    <div class="form-group">
                        <input type="text" class="form-control col-sm-12" id="address" name="address"
                            placeholder="Enter Your Address Here..."
                            style="float: left; width: 95%; margin-bottom: 3.5%;">
                        <button type="submit" class="btn btn-success btn-block" id="checkout">
                            <h4>Check Out</h4>
                        </button>
                        <input type="hidden" name="checkout" value="checkout">
                        <input type="hidden" id="totalamount" name="totalamount" value="">
                        <input type="hidden" id="sum" name="sum" value="">
                    </div>
                </form>
                <div class="text-center">
                    <a type="button" class="btn" href="/catalogue"><u>Add More?</u></a>
                </div>

            </div>
        </div>
    </div>
    </div>



    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->