<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="display-4">Newsletter List</h1>
                    <br>
                    <div class="row">
                        <div class="col-10 col-md-8 col-sm-2">
                            <form>
                                <div class="d-none d-sm-inline-block form-inline navbar-search " style='padding-bottom: 20px;'>
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light bvoucher-0 small" placeholder="Newsletter ID..."
                                            aria-label="Search" aria-describedby="basic-addon2" id='search-voucher'>
                                        <div class="input-group-append">
                                            <button class="btn voucher-search-button" type="button" style="background-color:#8BAD97; border: 0px;">
                                                <i class="fas fa-search fa"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-2 col-md-4 col-sm-10 text-right">
                            <a href="/newsletter/addNewsletter" class="btn btn" style="background-color: #e0d1b5; color:white; font-weight: bold;">Create Newsletter</a>
                        </div>
                    </div>
                    <br>
                    
                    <div class="wrapper">
                    
                        <input type="radio" name="slider" checked id="draft">
                        <input type="radio" name="slider" id="scheduled">
                        <input type="radio" name="slider" id="past">
                        {{!-- <input type="radio" name="slider" id="help"> --}}
                    
                        <nav>
                            <label for="draft" class="draft"><i class="fa-solid fa-pen-ruler"></i>Draft Newsletters</label>
                            <label for="scheduled" class="scheduled"><i class="fa-solid fa-calendar-check"></i>Scheduled Newsletters</label>
                            <label for="past" class="past"><i class="fa-solid fa-clock-rotate-left"></i>Past Newsletters</label>
                            {{!-- <label for="help" class="help"><i class="fas fa-ring"></i>Accessories</label> --}}
                    
                            <div class="slider"></div>
                        </nav>

                        <!-- Section: Draft -->
                        <section>
                            <div class="content content-1" style="height: 400px;  overflow-y:scroll; overflow-x: hidden; border-style: none;">
                                <table class="table table-borderless table-hover" style="border-style: none;">
                                    <thead>
                                        <tr class="font-weight-bold">
                                            <th>Id</th>
                                            <th>Name</th>
                                            <th>Category</th>
                                            <th>Status</th>
                                            {{!-- <th>Created By/ Modified By</th>
                                            <th>Date</th> --}}
                                            <th colspan="4">Operations</th>
                                        </tr>
                                    </thead>
                                    <br>
                                    <tbody>
                                        {{#if newsletters}}
                                        {{#each newsletters}}
                                        <tr style="border: solid; border-width: 1px 0;">
                                            <td>{{id}}</td>
                                            <td>{{newsletterName}}</td>
                                            <td>{{category}}</td>
                                            <td>
                                                <p class="badge badge-success">{{status}}</p>
                                            </td>
                                            {{!-- <td>{{createdBy}}</td>
                                            <td>{{updatedAt}}</td> --}}
                                            {{!-- {% if product.get_status() == 'Low Stock' or product.get_status() == 'Out of Stock' %}
                                            <td>
                                                <p class="badge badge-danger">xcx</p>
                                            </td>
                                            {% else %}
                                            <td>
                                                <p class="badge badge-success">xccxcxcx</p>
                                            </td>
                                            {% endif %} --}}
                                            <td>
                                                <form action="/newsletter/deleteNewsletter/{{id}}">
                    
                                                    <!-- Button to Open the Modal -->
                                                    <button type="button" title="Delete" class="btn btn-danger " data-bs-toggle="modal"
                                                        data-bs-target="#myModal_{{id}}">
                                                        <i class="fas fa-trash-alt"></i>
                                                    </button>
                    
                                                    <!-- The Modal -->
                                                    <div class="modal" id="myModal_{{id}}">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                    
                                                                <!-- Modal Header -->
                                                                <div class="modal-header">
                                                                    <h4 class="modal-title">Delete Confirmation</h4>
                                                                    <button type="button" class="btn-close"
                                                                        data-bs-dismiss="modal"></button>
                                                                </div>
                    
                                                                <!-- Modal body -->
                                                                <div class="modal-body">
                                                                    Are you sure you want to delete <span style="font-weight:bold;">{{newsletterName}}</span> ?
                                                                </div>
                    
                                                                <!-- Modal footer -->
                                                                <div class="modal-footer">
                                                                    <input type="submit" value="Delete" class="btn btn-danger">
                    
                                                                    <button type="button" class="btn btn-secondary"
                                                                        data-bs-dismiss="modal">Cancel</button>
                                                                </div>
                                                </form>
                                            </td>
                                            <td>
                                                <form action="" method="POST">
                                                    <!-- Button to Open the Modal -->
                                                    <button type="submit" title="Update" class="btn btn-primary bg-gradient-primary"
                                                        data-bs-target="#myModal_">
                                                        <i class="fas fa-pen"></i>
                                                    </button>
                    
                                                </form>
                                            </td>
                    
                                            <td>
                                                <button type="button" title="View" class="btn btn-info" data-bs-toggle="modal"
                                                    data-bs-target="#weModal_{{id}}">
                                                    <i class="far fa-eye"></i>
                                                </button>
                    
                                                <!-- Modal -->
                                                <div class="modal fade" id="weModal_{{id}}" tabindex="-1"
                                                    aria-labelledby="" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="">Newsletter Detail</h5>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                                    aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="card border mb-3">
                                                                    <a href="{{posterURL}}" data-title="{{title}}" data-toggle="lightbox"></a>
                                                                        <img src="{{posterURL}}" class="card-img-top" alt="Picture" onerror="this.src='/img/no-image.jpg'">
                                                                    </a>

                                                                    <ul class="list-group list-group-flush">
                                                                        <li class="list-group-item">Id: {{id}}</li>
                                                                        <li class="list-group-item">Newsletter Name: {{newsletterName}}</li>
                                                                        <li class="list-group-item">Category: {{category}}</li>
                                                                        <li class="list-group-item">Status: <p class="badge badge-success">{{status}}</p></li>
                                                                        {{!-- {% if product.get_status() == 'Low Stock' or product.get_status() ==
                                                                        'Out of Stock' %}
                                                                        <li class="list-group-item float-right">Stock: {{
                                                                            product.get_product_stock() }} <p class="badge badge-danger">{{
                                                                                product.get_status() }}</p>
                                                                        </li>
                                                                        {% else %}
                                                                        <li class="list-group-item float-right">Stock: {{
                                                                            product.get_product_stock() }} <p class="badge badge-success">{{
                                                                                product.get_status() }}</p>
                                                                        </li>
                                                                        {% endif %} --}}
                                                                    </ul>
                                                                    <div class="card-body">
                                                                        Created on: {{createdAt}}
                                                                        <br>
                                                                        Created by: {{createdBy}}
                                                                        <br>
                                                                        <hr>
                                                                        Modified on: {{updatedAt}}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <button type="button" title="Send" class="btn btn-warning " data-bs-toggle="modal"
                                                    data-bs-target="#mysend_{{id}}">
                                                    <i class="fas fa-paper-plane"></i>
                                                </button>
                                                
                                                <!-- The Modal -->
                                                <div class="modal" id="mysend_{{id}}">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                
                                                            <!-- Modal Header -->
                                                            <div class="modal-header">
                                                                <h4 class="modal-title">Send Confirmation</h4>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                                            </div>
                                                
                                                            <!-- Modal body -->
                                                            <div class="modal-body">
                                                                Are you sure you want to send <span style="font-weight:bold;">Newsletter Issue: {{newsletterName}}</span> to all subscribers ?
                                                            </div>
                                                
                                                            <!-- Modal footer -->
                                                            <div class="modal-footer">
                                                                <a href="/newsletter/sendNewsletter/{{id}}" class="btn btn-danger">Send</a>
                                                
                                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        {{/each}}
                                        {{else}}
                                        <div>
                                            <td colspan="8" style="text-align:center;">
                                                <h6 class="empty">You currently have no newsletters.</h6>
                                            </td>
                                        </div>
                                        {{/if}}
                                    </tbody>
                                </table>
                            </div>
                        </section>
                        
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

</body>

<style>
    ::selection{
    background: #8BAD97(23, 98, 184, 0.3);
    }
    .wrapper{
        
        width: 100%;
        padding: 25px 30px 30px 30px;
        border-radius: 5px;
        background: #fff;
    
    }
    .wrapper header{
        font-size: 30px;
        font-weight: 600;
        padding-bottom: 20px;
    }
    .wrapper nav{
        position: relative;
        width: 100%;
        height: 50px;
        display: flex;
        margin-bottom: 10px;
        align-items: center;
    }
    .wrapper nav label{
        display: block;
        height: 100%;
        width: 100%;
        text-align: center;
        line-height: 50px;
        cursor: pointer;
        position: relative;
        z-index: 1;
        color: #8BAD97;
        font-size: 17px;
        border-radius: 5px;
        margin: 0 5px;
        
        transition: all 0.3s ease;
    }
    .wrapper nav label:hover{
        margin-bottom: 10px;
        background:#e0d1b5;
    }
    #draft:checked ~ nav label.draft,
    #scheduled:checked ~ nav label.scheduled,
    #past:checked ~ nav label.past,
    {{!-- #help:checked ~ nav label.help, --}}
        #about:checked ~ nav label.about{
        color: #fff;
    }
    nav label i{
        padding-right: 7px;
    }
    nav .slider{
        position: absolute;
        height: 100%;
        width: 25%;
        left: 0;
        bottom: 0;
        z-index: 0;
        border-radius: 5px;
        background: #e0d1b5;
        transition: all 0.3s ease;
    
    }
    input[type="radio"]{
        display: none;
    }
    #scheduled:checked ~ nav .slider{
        left: 33.33%;
    }
    #past:checked ~ nav .slider{
        left: 66.66%;
    }
    {{!-- #help:checked ~ nav .slider{
        left: 99%;
    } --}}
    #about:checked ~ nav .slider{
        left: 99.99%;
    }
    section .content{
        display: none;
        background: #fff;
    }
    #draft:checked ~ section .content-1,
    #scheduled:checked ~ section .content-2,
    #past:checked ~ section .content-3,
    {{!-- #help:checked ~ section .content-4, --}}
    #about:checked ~ section .content-4{
        display: block;
    }
    section .content .title{
        font-size: 21px;
        font-weight: 500;
        margin: 30px 0 10px 0;
    }
    section .content p{
    text-align: justify;
    }
</style>

{{!-- <!-- Bootstrap core JavaScript-->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="/js/demo/datatables-demo.js"></script> --}}

{{!-- JavaScript Bundle with Popper --}}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/jquery/jquery.slim.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>
