<div class="container">
    <body>
        <div class="card text-center">
            <div class="card-header">
                Newsletter
            </div>
            <div class="card-body">
                <h1 class="card-title">{{card_title}}</h1>
                <h4 class="card-title">{{card_title2}}</h4>
                <p class="card-text">{{message1}}</p>
                <p class="card-text">{{message2}}</p>
                <a href={{link}} class="btn btn-return">{{button}}</a>
            </div>
        </div>
    </body>
</div>

<link rel="stylesheet" href="/css/style.css">

<style>
    .btn-return{
		color: #ffffff;
		background: #8BAD97;
		border-radius: 60px;
		width: 200px;
		height: calc(1.5em + .9rem + 2px);
		margin: auto;
		display: block;
		}
</style>