<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="display-4">Monthly Newsletters Collection</h1>

                    <div class="row ">
                        <div class="col-10 col-md-8 col-sm-2">
                            <form>
                                <div class="d-none d-sm-inline-block form-inline navbar-search " style='padding-bottom: 20px;'>
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light bvoucher-0 small" placeholder="Newsletter ID..."
                                            aria-label="Search" aria-describedby="basic-addon2" id='search-voucher'>
                                        <div class="input-group-append">
                                            <button class="btn btn-primary voucher-search-button" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-2 col-md-4 col-sm-10 text-right">
                            <a href="/subscription/addNewsletter" class="btn btn-outline-primary ">Create Newsletter</a>
                        </div>
                    </div>

                    <section>
                        <div>
                            <div class="row">
                                <div class="col-md-12">
                                    <nav>
                                        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                            <a class="nav-item nav-link active" id="nav-draft-tab" data-toggle="tab" href="#nav-draft"
                                                role="tab" aria-controls="nav-draft" aria-selected="true">Newsletter Draft
                                                {{!-- {% if count == 0 %}
                                                <button type="button" class="btn btn-danger">
                                                    0
                                                </button>
                                                {% else %}
                                                <button type="button" class="btn btn-success">
                                                    {{ count }}
                                                </button>
                                                {% endif %} --}}
                                            </a>
                    
                                            <a class="nav-item nav-link" id="nav-ready-tab" data-toggle="tab" href="#nav-ready" role="tab"
                                                aria-controls="nav-ready" aria-selected="true">Ready To Be Sent
                                                {{!-- {% if count1 == 0 %}
                                                <button type="button" class="btn btn-success">
                                                    0
                                                </button>
                                                {% else %}
                                                <button type="button" class="btn btn-danger">
                                                    {{ count1 }}
                                                </button>
                                                {% endif %} --}}
                                            </a>
                    
                                            <a class="nav-item nav-link" id="nav-sent-tab" data-toggle="tab" href="#nav-sent"
                                                role="tab" aria-controls="nav-sent" aria-selected="true">Sent
                                            </a>
                    
                                        </div>
                                    </nav>
                    
                                    <div class="tab-content" id="nav-tabContent">
                    
                                        <!-- Newsletter Draft -->
                                        <div class="tab-pane fade show active" id="nav-draft" role="tabpanel" aria-labelledby="nav-draft-tab">
                                            <br>
                                            {{#each newsletters}}
                                            <!-- DataTales Example -->
                                            <div class="card shadow mb-4">
                                                <div class="card-body">
                                                    <div class="table-responsive">
                                                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                                            <thead>
                                                                <tr>
                                                                    <th>ID</th>
                                                                    <th>Newsletter Name</th>
                                                                    <th>Purpose</th>
                                                                    <th>Created By</th>
                                                                    <th>Last Update</th>
                                                                    <th>Status</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td>{{id}}</td>
                                                                    <td>{{newsletterName}}</td>
                                                                    <td>{{purpose}}</td>
                                                                    <td>{{createdBy}}</td>
                                                                    <td>{{updatedAt}}</td>
                                                                    <td>{{status}}</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                            {{/each}}
                                        </div>
                    
                                        <!--Ready to Send-->
                                        <div class="tab-pane fade" id="nav-ready" role="tabpanel" aria-labelledby="nav-ready-tab">
                                            <br>
                                            <!-- table -->
                                            <div class="card shadow mb-4">
                                                <div class="card-body">
                                                    <div class="table-responsive">
                                                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                                            <thead>
                                                                <tr>
                                                                    <th>ID</th>
                                                                    <th>Newsletter Name</th>
                                                                    <th>Purpose</th>
                                                                    <th>Created By</th>
                                                                    <th>Status</th>
                                                                    <th>Send</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td>Tiger Nixon</td>
                                                                    <td>System Architect</td>
                                                                    <td>Edinburgh</td>
                                                                    <td>61</td>
                                                                    <td>2011/04/25</td>
                                                                    <td>$320,800</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Garrett Winters</td>
                                                                    <td>Accountant</td>
                                                                    <td>Tokyo</td>
                                                                    <td>63</td>
                                                                    <td>2011/07/25</td>
                                                                    <td>$170,750</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                        </div>
                    
                                        <!-- Send Newsletter -->
                                        <div class="tab-pane fade show" id="nav-sent" role="tabpanel"
                                            aria-labelledby="nav-sent-tab">
                                            <br>
                                            <!-- table -->
                                            <div class="card shadow mb-4">
                                                <div class="card-body">
                                                    <div class="table-responsive">
                                                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                                            <thead>
                                                                <tr>
                                                                    <th>ID</th>
                                                                    <th>Newsletter Name</th>
                                                                    <th>Purpose</th>
                                                                    <th>Created By</th>
                                                                    <th>Sent Date</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td>Tiger Nixon</td>
                                                                    <td>System Architect</td>
                                                                    <td>Edinburgh</td>
                                                                    <td>61</td>
                                                                    <td>2011/04/25</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Garrett Winters</td>
                                                                    <td>Accountant</td>
                                                                    <td>Tokyo</td>
                                                                    <td>63</td>
                                                                    <td>2011/07/25</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>


                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="js/demo/datatables-demo.js"></script>

</body>

<style>
    .project-tab {
        padding: 10%;
        margin-top: -8%;
    }

    .project-tab #tabs {
        background: #007b5e;
        color: #eee;
    }

    .project-tab #tabs h6.section-title {
        color: #eee;
    }

    .project-tab #tabs .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link.active {
        color: #0062cc;
        background-color: transparent;
        border-color: transparent transparent #f3f3f3;
        border-bottom: 3px solid !important;
        font-size: 16px;
        font-weight: bold;
    }

    .project-tab .nav-link {
        border: 1px solid transparent;
        border-top-left-radius: .25rem;
        border-top-right-radius: .25rem;
        color: #0062cc;
        font-size: 16px;
        font-weight: 600;
    }

    .project-tab .nav-link:hover {
        border: none;
    }

    .project-tab thead {
        background: #f3f3f3;
        color: #333;
    }

    .project-tab a {
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-weight: 600;
    }
</style>