<button type="button" class="btn btn-lg btn-addQuiz" id="top"><a href="/quiz/addQuiz">Start Quiz</a></button>

<br><br><br>
{{#if user}}
{{#if quizzes}}
<div class="card-deck">
    {{#each quizzes}}
    <div class="card ser-col">
        <div class="card-body">
            <button type="button" class="btn btn-updateQuiz" id="top">
                <a href="/quiz/editQuiz/{{id}}">
                    Update
                </a>
            </button>
            <br>
            <h6 class="text-muted">#quiz: {{id}}</h6>
            <br><br><br>
            <a href="/quiz/quizResult/{{id}}">
                <h1 class="card-title title">For <br><span class="quizName">{{quizName}}</span></h1>
            </a>
            <br><br><br>
        </div>
        <div class="card-footer">
            Created On:
            <br>
            <small class="text-muted">{{createdAt}}</small>
        </div>
        <div class="card-footer">
            <h6 class="delete"><a href="/quiz/deleteQuiz/{{id}}" data-toggle="confirmation" data-title="Confirm delete?">
                    Delete
            </a></h6>
        </div>
    </div>
    {{/each}}
    {{else}}
        <div class="empty-div">
            <h1 class="empty"><i class="fa-solid fa-face-surprise icon"></i><br><br>Oh No!</h1>
            <h6 class="empty">You currently have no quiz to view. Click on "Start Quiz" to get started!</h6>
        </div>
    {{/if}}
</div>
{{/if}}

<style>
    .btn-addQuiz{
		color: #000000;
		background: #8BAD97;
		border-radius: 60px;
		width: 200px;
        text-align: center;
        float: right;
    }

    .delete {
        text-decoration: underline;
        text-align: center;
    }
    
    .title {
        font-size: 50px;
    }

    .ser-col {
        border-radius: 45px;
    }

    .btn-updateQuiz{
		color: #000000;
		background: #8BAD97;
		border-radius: 60px;
		width: 100px;
        text-align: center;
        float: right;
        font-size: 15px;
    }

    .empty {
        text-align: center;
    }

    .empty-div {
        margin: auto;
        height: 300px;
        width: 50%;
        text-align: center;
    }

    .icon {
        font-size: 120px;
        color:#ffaa00;
    }

</style>
<script>
    $('[data-toggle=confirmation]').confirmation({
        rootSelector: '[data-toggle=confirmation]',
    });

    $('#myModal').on('shown.bs.modal', function () {
            $('#myInput').trigger('focus')
        })
</script>