<h1 class="header">Suggested Products for Quiz: {{quizID}}</h1>

<br>

<div class="card" style="border-radius: 20px;">
    <div class="card-body">
        {{!-- <h6 class=" text-center">You have {{prodLenght}} recommendations</h6> --}}
        <br>
        <div class="row" style="border-radius: 20px;">
            <div class="col-4">
                <div class="list-group" id="list-tab" role="tablist">
                    {{#each prodForHealthAreas}}
                    <a class="list-group-item list-group-item-action" id="{{id}}" data-toggle="list"
                        href="#list-profile-{{id}}"role="tab" aria-controls="profile"><img class="img-thumbnail" id="prodImage" src="{{image}}" alt="Card image cap">{{prodName}}</a>
                    {{/each}}
                </div>
            </div>
            
            <div class="col-8">
                <div class="tab-content" id="nav-tabContent">
                    {{#each prodForHealthAreas}}
                    <div class="tab-pane fade" id="list-profile-{{id}}" role="tabpanel" aria-labelledby="{{id}}">
                        <div class="card-body">
                            <h2 class="text-center">{{prodName}}</h2>
                            <p>{{description}}</p>
                            <hr>
                            <p>Health Focus Area:
                                   <span class="badge badge-pill badge-area">{{area}}</span>
                            </p> 
                        </div>

                        <div class="card-footer">
                            <a href="/product/itemDesc/{{id}}"><button>Buy Now</button></a>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>

<br>

<div class="card-deck">
    <div class="card ser-col" style="border-radius: 20px;">
        <div class="card-body">
            {{#comparison quizzes.tcm "yes"}}
            <h6 class="text-muted">As you are educated about traditional chinese medicine and need no assistance, you can skip out on our face to face appointment.</h6>
            {{/comparison}}

            {{#comparison quizzes.tcm "sometimes"}}
            <h6 class="text-muted">On top of these products, we also recommend you these services:</h6>
            <br>
            <h1 class="card-title title" id="area">
                {{#comparison quizzes.tcm "sometimes"}}
                Consultation
                {{/comparison}}
            </h1>
            {{/comparison}}

            {{#comparison quizzes.tcm "never"}}
            <h6 class="text-muted">On top of these products, we also recommend you these services:</h6>
            <br>
            <h1 class="card-title title" id="area">
                {{#comparison quizzes.tcm "never"}}
                Consultation
                {{/comparison}}
            </h1>
            {{/comparison}}
        </div>
        {{#comparison quizzes.tcm "never"}}
        <div class="card-footer">
            Why is that?:
            <br>
            <small class="text-muted">
                You have stated in the quiz that you are not convinced about traditional chinese medicine yet.
            </small>

            <a href="/booking/addBooking"><button>Book Apointment Now</button></a>
        </div>
        {{/comparison}}

        {{#comparison quizzes.tcm "sometimes"}}
        <div class="card-footer">
            Why is that?:
            <br>
            <small class="text-muted">
                You have stated in the quiz that you want to learn more about traditional chinese medicine yet.
            </small>

            <a href="/booking/addBooking"><button>Book Apointment Now</button></a>
        </div>
        {{/comparison}}
    </div>
</div>

<br><br>

{{!-- <div class="card shadow mb-4">
    <div class="card-header py-3" style="background-color:#8BAD97;">
        <h6 class="m-0 font-weight-bold" style="color:white;">Quiz Answers</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead style="background-color: #F1EDE5;">

                    <tr>
                        <th>Question</th>
                        <th>Answer</th>
                    </tr>
                </thead>

                <tr>
                    <td>Quiz Name</td>
                    <td>{{quizzes.quizName}}</td>
                </tr>

                <tr>
                    <td>Gender</td>
                    <td>{{quizzes.gender}}</td>
                </tr>

                <tr>
                    <td>Age</td>
                    <td>{{quizzes.age}}</td>
                </tr>

                <tr>
                    <td>TCM knowledge</td>
                    <td>{{quizzes.tcm}}</td>
                </tr>

                <tr>
                    <td>Supplements/ TCM intake</td>
                    <td>{{quizzes.supplements}}</td>
                </tr>

                <tr>
                    <td>Health area to improve</td>
                    <td>{{quizzes.area}}</td>
                </tr>

                <tr>
                    <td>Diet</td>
                    <td>{{quizzes.diet}}</td>
                </tr>

                <tr>
                    <td>On medication?</td>
                    <td>{{quizzes.medication}}</td>
                </tr>

                <tr>
                    <td>Allergies?</td>
                    <td>{{quizzes.allergy}}</td>
                </tr>

                <tr>
                    <td>Smoke?</td>
                    <td>{{quizzes.smoke}}</td>
                </tr>

            </table>
        </div>
    </div>
</div> --}}

<br>

{{!-- <div class="card-deck">
    <div class="card ser-col">
        <div class="card-body">
            <h6 class="text-muted">Health Focus: {{quizzes.area}}</h6>
            <br><br><br>
            <h1 class="card-title title" id="area">
                {{#comparison quizzes.area "immunity"}}
                Immunity Med
                {{/comparison}}
                
                {{#comparison quizzes.area "stress"}}
                Stress Med
                {{/comparison}}
                
                {{#comparison quizzes.area "hair"}}
                Hair Med
                {{/comparison}}
            </h1>
            <br><br><br>
        </div>
        <div class="card-footer">
            Benefits:
            <br>
            <small class="text-muted">
                {{#comparison quizzes.area "immunity"}}
                Omega-3 fatty acids (EPA and DHA) present in our Veg Omega, which have been studied extensively for their effect on the
                brain, are promising for cognitive health. They also have been extensively researched for their beneficial effects on
                the heart.
                {{/comparison}}
                
                {{#comparison quizzes.area "stress"}}
                Omega-3 fatty acids (EPA and DHA) present in our Veg Omega, which have been studied extensively for their effect on the
                brain, are promising for cognitive health. They also have been extensively researched for their beneficial effects on
                the heart.
                {{/comparison}}
                
                {{#comparison quizzes.area "hair"}}
                Omega-3 fatty acids (EPA and DHA) present in our Veg Omega, which have been studied extensively for their effect on the
                brain, are promising for cognitive health. They also have been extensively researched for their beneficial effects on
                the heart.
                {{/comparison}}
            </small>
        </div>
        <div class="card-footer">
            Allergens:
            <br>
            <small class="text-muted">
                {{#comparison quizzes.area "immunity"}}
                Contains residual traces of Sulfites and Soy.
                {{/comparison}}
        
                {{#comparison quizzes.area "stress"}}
                Contains residual traces of Sulfites and Soy.
                {{/comparison}}
        
                {{#comparison quizzes.area "hair"}}
                Contains residual traces of Sulfites and Soy.
                {{/comparison}}
            </small>
        </div>
        <div class="card-footer">
            <button>Add To Cart</button>
        </div>
    </div>
</div> --}}

<style>
    .header {
        font-family: 'Libre Baskerville';
        font-style: italic;
        font-size: 35px;
        text-align: center;
    }

    #area {
        color: #8BAD97;
    }

    button {
        font-size: 15px;
        color: rgb(0, 0, 0);
        background-color: #8BAD97;
        border: 5px;
        border-radius: 45px;
        padding: 15px;
        cursor: pointer;
        text-align: center;
        float: right;
    }

    button:hover {
        background-color: #bdd4c5;;
    }

    #prodImage {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    }

    .badge-area {
        background-color: #d9d9ee;
    }
</style>
