<div class="row">
         <a href="/staff/listStaff" style="color: grey ;float:left; padding-left:40px; font-size:large" ><u> <i class="fa-solid fa-chevron-left"></i>Back</u></a>

    <div class="col-md-6 mx-auto">
        <div class="card card-body" style="border-radius: 60px ; top: 20px">
            <img class="logo2 cen2" src="/img/whitelogo.png">
            <h3 class="text-center" style="padding-top: 15px;">EDIT STAFF ACCOUNT</h3>
            <form action="" method="post">
                <div>
                    <div class="form-group left spacing1">
                        <label for="firstname">Staff Number</label>
						<input type="text" class="form-control" name="staffno" value="{{staff.staffno}}"  required>
                    </div>

                    <div class="form-group left spacing2">
                        <label for="username">Username</label>
						<input type="text" class="form-control" name="username" value="{{staff.username}}" required>
                       
                    </div>
                    <div class="form-group left spacing1">
                         <label for="firstname">First Name</label>
						<input type="text" class="form-control" name="firstname" value="{{staff.firstname}}" id="firstname" onblur="initialiseFirstname()" required>
                       
                    </div>
                    <div class="form-group left spacing2">
                       <label for="lastname">Last Name</label>
						<input type="text" class="form-control" name="lastname" value="{{staff.lastname}}" id="lastname" onblur="initialiseLastname()" required>
                    </div>

                    <div class="form-group left spacing1">
                       <label for="email">Email</label>
						<input type="email" name="email" class="form-control" value="{{staff.email}}" required>
                    </div>
                    <div class="form-group left spacing2">
                       <label for="password">Password</label>
						<input type="password" name="password" class="form-control" value="" required>
                    </div>

                    <div class="form-group left spacing1">
						<label for="password2">Confirm Password</label>
						<input type="password" name="password2" class="form-control" value="" required>
					</div>
    
                </div>

                <div class=" left spacing2" style="padding-top:25px; padding-left:45px">
                    <button type="submit" class="staffbtn" >EDIT</button>
                </div>

            </form>
        </div>
    </div>
</div>