<div>
	{{#if orders}}
	<div class="container-fluid">
		<!-- Page Heading -->
		<div class="card shadow mb-4">
			<div class="card-header py-3" style="background-color:#8BAD97;">
				<h5 class="m-0 font-weight-bold" style="color:white; ">Product Inventory
					<a href="/product/addProduct" class="card-link mb-2" style="color:white; padding-right:20px ; padding-top:6px; float:right;">
					<i class="fa-solid fa-square-plus"></i> Add Product</a>
				</h5>
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
						<thead style="background-color: #F1EDE5;">
							<tr>
								<th>&nbsp;ID</th>
								<th>&nbsp;Total Amount (SG $)</th>
								<th>&nbsp;Delivery Status</th>
								<th>&nbsp;Payment Status</th>
								<th>&nbsp;Address</th>
								<th>&nbsp;Modify Status</th>
                                <th>&nbsp;Action</th>

							</tr>
						</thead>
						{{#each orders}}
						<tr>
							<td>&nbsp;{{id}}</td>
							<td>&nbsp;{{totalamount}}</td>
							<td>&nbsp;{{status}}</td>
							<td>&nbsp;{{payment}}</td>
							<td>&nbsp;{{address}}</td>
							<td>&nbsp;
                                <form action="" method="POST">
                                    <div style="text-align: center;">
                                    <select style="margin: 10px;" name="status" id="status">
                                <option value="Shipping">Shipping</option>
                                <option value="Deliverying">Deliverying</option>
                                <option value="Delivered">Delivered</option>
                            </select>
                            
                            <button type="submit" class="btn btn-info" style="">Modify</button>
                                </div></form>
                            </td>
							<td>
								{{!-- <div>
									<a href="/product/editProduct/{{id}}" class="text-primary card-link mb-2">
										<i class="fas fa-pencil-alt"></i>
										Modify Order Status
									</a>
								</div> --}}
								<div>
									<!-- Button HTML (to Trigger Modal) -->
									<a href="#myModal_{{id}}" class="trigger-btn delete text-danger" data-toggle="modal"> 
										<i class="far fa-trash-alt"></i>
										Delete
									</a>
								</div>

								<!-- Modal HTML -->
								<form action="/product/deleteProduct/{{id}}">
									<div id="myModal_{{id}}" class="modal fade">
										<div class="modal-dialog modal-confirm">
											<div class="modal-content">
												<div class="modal-header">
													<h5 class="modal-title">Deletion Confirmation</h5>
													<button type="button" class="close" data-dismiss="modal" aria-label="Close">
														<span aria-hidden="true">&times;</span>
													</button>
												</div>
												<div class="modal-body">
													<p>Do you really want to delete this product? This process cannot be undone.</p>
												</div>
												<div class="modal-footer justify-content-center">
													<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
													<button type="submit" value="Delete" class="btn btn-danger">Delete</button>
												</div>
											</div>
										</div>
									</div>
								</form>
							</td>
						</tr>
						{{/each}}
					</table>
				</div>
			</div>
		</div>
	</div>
	{{else}}
	<h3 class="m-0 font-weight-bold" style="padding-left:20px ;">No Products Created 
		<a href="/product/addProduct" class="card-link mb-2" style="color:#8BAD97; padding-right:20px ; float:right;">
		<i class="fa-solid fa-square-plus"></i> Add Product</a>
	</h3>
	<hr>
	{{/if}}
</div>
<script>
	$('[data-toggle=confirmation]').confirmation({
		rootSelector: '[data-toggle=confirmation]',
	});
</script>