<body>
    <div>{{!-- <div style="background-color: #F1EDE5;"> --}}
            {{#if vouchers}}
            <div class="container-fluid">
                <div class="card shadow mb-4">
                    <div class="card-header py-3" style="background-color:#8BAD97;">
                        <h5 class="m-0 font-weight-bold" style="color:white;">Vouchers <a href="/voucher/addVoucher"
                                class="card-link mb-2" style="color:white ;padding-right:20px ; float:right;"><i
                                    class="fa-solid fa-ticket"></i> Add Voucher</a></h5>

                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead style="background-color: #F1EDE5;">

                                    <tr>
                                        <th>&nbsp;ID</th>
                                        <th>&nbsp;Voucher Name</th>
                                        <th>&nbsp;Discount Type</th>
                                        <th>&nbsp;Discount</th>
                                        <th>&nbsp;Min. Spend</th>
                                        <th>&nbsp;Code</th>
                                        <th>&nbsp;Use Count</th>
                                        <th>&nbsp;Expiry Date</th>
                                        <th>&nbsp;Action</th>
                                    </tr> 
                                </thead>
                                {{#each vouchers}}

                                <tr>
                                    <td>&nbsp;{{id}}</td>
                                    <td>&nbsp;{{vname}}</td>
                                    <td>&nbsp;{{dtype}}</td>
                                    <td>&nbsp;{{discount}}</td>
                                    <td>&nbsp;{{minspend}}</td>
                                    <td>&nbsp;{{code}}</td>
                                    <td>&nbsp;{{usecount}}/{{limituse}}</td>
                                    <td>&nbsp;{{formatDate valid 'DD/MM/YYYY'}}</td>
                                    <td>
                                        <div>
                                            <a href="/voucher/editVoucher/{{id}}" class="card-link mb-2"
                                                style="color: #8BAD97">
                                                <i class="fas fa-pencil-alt"></i>
                                                Edit
                                            </a>
                                        </div>
            
                                        <!-- Logout Modal-->
                                            <div class="modal fade" id="deleteVoucher" tabindex="-1" role="dialog"
                                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">Delete
                                                                Voucher</h5>
                                                            <button class="close" type="button" data-dismiss="modal"
                                                                aria-label="Close">
                                                                <span aria-hidden="true">×</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">Select "Delete" below if you are
                                                            deleting this voucher.</div>
                                                        <div class="modal-footer">
                                                            <button class="btn btn-secondary" type="button"
                                                                data-dismiss="modal">Cancel</button>
                                                            <a class="btn btn-primary"
                                                                href="/voucher/deleteVoucher/{{id}}">Delete</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                        <div>
                                            <a href="/voucher/listVoucher" data-toggle="modal"
                                                    data-target="#deleteVoucher" class="card-link" style="color: darkred">
                                                <i class="far fa-trash-alt"></i>
                                                Delete
                                            </a>
                                        </div>

                                    </td>
                                </tr>


                                {{/each}}
                            </table>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        {{else}}
        <h3 class="m-0 font-weight-bold" style="padding-left:20px ;">No Voucher <a href="/voucher/addVoucher"
                class="card-link mb-2" style="color:#8BAD97;padding-right:20px ; float:right;"><i
                    class="fa-solid fa-ticket"></i> Add Voucher</a></h6>
            <hr>


    </div>
    {{/if}}
</body>
