<body>
    <div>{{!-- <div style="background-color: #F1EDE5;"> --}}
            {{#if users}}
            <div class="container-fluid">
                <div class="card shadow mb-4">
                    <div class="card-header py-3" style="background-color:#8BAD97;">
                        <h5 class="m-0 font-weight-bold" style="color:white;">Vouchers</h5>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead style="background-color: #F1EDE5;">

                                    <tr>
                                        <th>&nbsp;ID</th>
                                        <th>&nbsp;Name</th>
                                        <th>&nbsp;Username</th>
                                        <th>&nbsp;Email</th>
                                        <th>&nbsp;Address</th>
                                        <th>&nbsp;Action</th>
                                    </tr>
                                </thead>
                                {{#each users}}

                                <tr>
                                    <td>&nbsp;{{id}}</td>
                                    <td>&nbsp;{{firstname}}&nbsp;{{lastname}}</td>
                                    <td>&nbsp;{{username}}</td>
                                    <td>&nbsp;{{email}}</td>
                                    <td>&nbsp;{{address}}</td>
                                    <td>
                                        <div>
                                            <a href="/staff/editCust/{{id}}" class="card-link mb-2"
                                                style="color: #8BAD97">
                                                <i class="fas fa-pencil-alt"></i>
                                                Edit
                                            </a>
                                        </div>
                                        <div>
                                            <a href="/staff/deleteaccount/{{id}}" class="card-link"
                                                style="color: darkred" data-toggle="confirmation"
                                                data-title="Confirm delete?">
                                                <i class="far fa-trash-alt"></i>
                                                Delete
                                            </a>
                                        </div>
                                    </td>
                                </tr>


                                {{/each}}
                            </table>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        {{else}}
        <h3 class="m-0 font-weight-bold" style="padding-left:20px ;">No Voucher <a href="/voucher/addVoucher" class="card-link mb-2" style="color:#8BAD97;padding-right:20px ; float:right;"><i class="fa-solid fa-ticket"></i> Add Voucher</a></h6> <hr>
                            

    </div>
    {{/if}}
</body>

<script>
    $('[data-toggle=confirmation]').confirmation({
        rootSelector: '[data-toggle=confirmation]',
    });
</script>